@use 'colors';

body {
    height: 100%;
    width: 100%;
    background-color: colors.$backgroundColor;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    position: absolute;
    top: 100px;
    background-color: colors.$white;
    box-shadow: 8px 8px 20px 1px;
    padding: 20px;
    height: 80%;
    width: 1000px;
    border-radius: 20px;
}

.add-todo-btn {
    margin-bottom: 50px;
}

